---
import { MobileMenu } from "../MobileMenu/index";
import SiteBanner from "./SiteBanner.astro";
import SubTitle from "./SubTitle.astro";
---

<nav
    class="tak-head bg-gradient-to-r from-bukkomi-blue-dark to-bukkomi-blue-light"
>
    <div class="mx-auto max-w-7xl px-2 md:px-8">
        <div class="flex h-20 items-center justify-between">
            <div class="flex flex-row items-center">
                <SiteBanner />
                <SubTitle />
            </div>
            <div class="-mr-2 sm:hidden">
                <MobileMenu client:visible />
            </div>
        </div>
    </div>
</nav>
