---
import taku_logo from "./taku_logo.png";
---

<div class="flex-shrink-0">
    <a href="/">
        <img
            class="h-12 sm:h-16 inline-block"
            src={taku_logo}
            alt="拓ペディア"
        />
    </a>
    <span
        class="inline-block text-xl sm:text-4xl text-taku-red font-extrabold font-sans align-middle"
        >ペディア</span
    >
</div>

<style>
    span {
        margin-left: -0.8rem;
        text-shadow: 1px 1px 0 black;
    }
</style>
