<div class="flex-shrink-0">
    <img class="h-16 inline-block" src="/taku_logo.png" alt="拓ペディア" />
    <span
        class="inline-block text-4xl text-taku-red font-extrabold font-sans align-middle"
        >ペディア</span
    >
</div>

<style>
    span {
        margin-left: -0.8rem;
        text-shadow: 1px 1px 0 black;
    }
</style>
