<div class="flex-shrink-0">
    <img class="h-16 inline-block" src="/taku_logo.png" alt="拓ペディア" />
    <span
        class="inline-block text-4xl text-white font-extrabold font-sans align-middle"
        >ペディア</span
    >
</div>
