---
import type { CollectionEntry } from "astro:content";
import SaidBy from "./SaidBy.astro";

export interface Props {
    quote: CollectionEntry<"famousQuotes">;
}

const { quote } = Astro.props;
---

<dl class="border-2 rounded-md border-solid border-bukkomi-blue-dark p-2 mb-2">
    <dt>
        <a class="text-lg font-semibold" href={"/quotes/" + quote.slug}
            >{quote.data.sentence}</a
        >
        <p><SaidBy personSlug={quote.data.said_by} /></p>
    </dt>
</dl>
