---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { listAll } from "../../codes/Repository/CharacterRepo";

export async function getStaticPaths() {
    return listAll().map((e) => {
        return { params: { id: e.id }, props: e };
    });
}

const { id } = Astro.params;
const props = Astro.props;
---

<DefaultLayout title={props.name}>
    <h2>{props.name}</h2>
</DefaultLayout>
