---
import type { CollectionEntry } from "astro:content";

interface Props {
    org: CollectionEntry<"orgs">;
}

const { org } = Astro.props;
const { data } = org;
const { Content } = await org.render();
---

<div
    class="flex items-center border-b-2 border-dotted border-bukkomi-blue-light"
>
    <h3 class="text-lg font-semibold">{data.name}</h3>
    <ruby class="text-xs">({data.kana})</ruby>
    {data.nickname ? <div class="pl-4">通称は{data.nickname}</div> : <></>}
</div>
<article class="markdown-body p-2">
    <Content />
</article>
