---
import type { TeamMemberType } from "../../schemas/team";
import { getEntryBySlug } from "astro:content";

export interface Props {
    leader?: TeamMemberType;
    member?: TeamMemberType[];
    ob?: TeamMemberType[];
}
const { leader, member } = Astro.props;

async function joinWithPerson(tm: TeamMemberType) {
    const p = await getEntryBySlug("people", tm.slug);
    return { slug: tm.slug, role: tm.role, ...p?.data };
}

const allTeamMember = await Promise.all(
    [leader, ...(member || [])]
        .filter((tm) => tm)
        .map((tm) => joinWithPerson(tm))
);
---

<h3>メンバー</h3>
<dl>
    {
        allTeamMember.map((m) => (
            <>
                <dt>
                    <a href={"/people/" + m.slug}>{m.name}</a>
                    {m.role ? `【${m.role}】` : ""}
                </dt>
                <dd>{m.summary}</dd>
            </>
        ))
    }
</dl>
