---
import Layout from "../layouts/DefaultLayout.astro";
---

<Layout title="待ってろよォ　その瞬間をよォ！！">
	<section>
		<p>
			作り途中です。うっかり見つけちゃった人を首を長くして待っていてください。
		</p>
	</section>
	<section>
		<h3 class="font-bold text-xl pt-3">宣伝</h3>
		<p>
			特攻の拓復刻版2月より発売予定。詳細は<a
				class="text-bukkomi-blue"
				href="https://natalie.mu/comic/news/508014">こちら</a
			>をご覧ください。
		</p>
		<iframe
			sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
			style="width:120px;height:240px;"
			src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=new046-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=4065307465&linkId=38ebda910c7f2bec2e37adc55550e479"
		></iframe>
	</section>
</Layout>
