---
import IndexListDesc from "@components/Standard/IndexList/IndexListDesc.astro";
import IndexListItem from "@components/Standard/IndexList/IndexListItem.astro";
import IndexListTitle from "@components/Standard/IndexList/IndexListTitle.astro";
import type { CollectionEntry } from "astro:content";
import Owner from "./Owner.astro";

export interface Props {
    bike: CollectionEntry<"bikes">;
}

const { bike } = Astro.props;
---

<IndexListItem>
    <IndexListTitle
        title={bike.data.name}
        href={"/bikes/" + bike.slug}
        ruby={bike.data.kana}
    />
    <IndexListDesc>
        <p><Owner personSlug={bike.data.owned_by} /></p>
        <p>{bike.data.summary}</p>
    </IndexListDesc>
</IndexListItem>
