---
import type { CollectionEntry } from "astro:content";
import BelovedBike from "./Profile/BelovedBike.astro";
import FamousQuotes from "./Profile/FamousQuotes.astro";
import TeamAndRole from "./Profile/TeamAndRole.astro";

interface Props {
    personEntry: CollectionEntry<"people">;
}
const { personEntry } = Astro.props;
---

<div class="pl-2">
    <section>
        <TeamAndRole personSlug={personEntry.slug} />
        <>{personEntry.data.summary}</>
    </section>
    <BelovedBike personSlug={personEntry.slug} />
    <FamousQuotes personSlug={personEntry.slug} />
</div>
