---
import type { CollectionEntry } from "astro:content";
import FamousQuotes from "./Profile/FamousQuotes.astro";
import TeamAndRole from "./Profile/TeamAndRole.astro";

interface Props {
    personEntry: CollectionEntry<"people">;
}
const { personEntry } = Astro.props;
---

<div class="pl-2">
    <TeamAndRole personSlug={personEntry.slug} />
    <p>{personEntry.data.summary}</p>
    <FamousQuotes personSlug={personEntry.slug} />
</div>
