---
import GlobalHeader from "../components/Global/Header/index.astro";
import Footer from "../components/Footer.astro";
import Backbone from "../components/Global/Backbone.astro";
import SideNavi from "../components/Global/SideNavi.astro";
import MainContent from "../components/MainContent/Index.astro";
export interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" class="h-full bg-gray-100">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>拓ペディア|{title}</title>
    </head>
    <body class="h-full">
        <div class="flex flex-col min-h-screen">
            <GlobalHeader />
            <div class="flex flex-row">
                <SideNavi />
                <MainContent title={title}>
                    <slot />
                </MainContent>
                <Backbone />
            </div>
            <Footer />
        </div>
    </body>
</html>
