<aside
    id="backbone"
    class="flex flex-col items-center bg-gradient-to-r from-bukkomi-blue via-bukkomi-blue-light to-bukkomi-blue w-12"
>
    <figure class="relative">
        <img class="w-full" src="/toge.svg" />
        <span
            class="text-virtical text-white leading-none font-serif font-bold italic absolute top-1 left-2"
            >疾風<br />&nbsp;伝説</span
        >
    </figure>
    <h2
        class="text-red-500 text-3xl text-virtical font-extrabold back-title pb-4"
    >
        特攻の拓
    </h2>
    <img class="w-full" src="/taku_kao.png" />
    <ul class="text-virtical text-white font-bold py-1">
        <li>原作/佐々木飛朗斗</li>
        <li>漫画/所十三</li>
    </ul>
    <p class="text-white text-xs py-2">講談社</p>
</aside>

<style>
    .text-virtical {
        writing-mode: vertical-rl;
    }
    .back-title {
        text-shadow: 1px 1px 0 black;
    }
</style>
