<aside class="bg-white shadow-md p-3 relative min-w-fit hidden sm:block">
    <ul>
        <li class="font-extrabold text-xl"><a href="/">Top</a></li>
    </ul>
    <ul
        class="list-square text-bukkomi-blue pl-4 py-2 mt-2 border-t-2 border-slate-500"
    >
        <li><a href="/people/">登場人物</a></li>
        <li><a href="/teams/">族(チーム)</a></li>
        <li><a href="/orgs/">組織</a></li>
        <li><a href="/bikes/">愛車</a></li>
        <li><a href="/quotes/">名言</a></li>
        <li><a href="/terms/">用語</a></li>
    </ul>
</aside>

<style>
    aside:before {
        content: " ";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        border-width: 0 30px 30px 0;
        border-style: solid;
        width: 0;
        background: #e3e3e3;
        border-color: #fff #fff #e3e3e3 #e3e3e3;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
</style>
