<aside class="bg-white shadow-md p-3 relative">
    <ul class="list-square text-bukkomi-blue pl-4 py-2 border-t-2 border-black">
        <li>登場人物</li>
        <li>チーム</li>
        <li>組織</li>
        <li>バイク</li>
        <li>名言</li>
        <li>用語</li>
    </ul>
</aside>

<style>
    aside:before {
        content: " ";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        border-width: 0 30px 30px 0;
        border-style: solid;
        width: 0;
        background: #e3e3e3;
        border-color: #fff #fff #e3e3e3 #e3e3e3;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
</style>
