---
import PageHeader from "./PageHeader.astro";
interface Props {
    title: string;
    ruby?: string;
}
const { title, ruby } = Astro.props;
---

<main class="min-h-article m-2 p-3 bg-white flex-grow shadow">
    <PageHeader title={title} ruby={ruby} />
    <article class="pt-4">
        <slot />
    </article>
</main>
