---
import PageHeader from "./PageHeader.astro";

const { title } = Astro.props;
---

<main class="min-h-article mx-1 mt-2 p-3 bg-white flex-grow shadow">
    <PageHeader title={title} />
    <article class="pt-4">
        <slot />
    </article>
</main>
