---
export interface Props {
    title: string;
    ruby?: string;
}
const { title, ruby } = Astro.props;
---

<header class="border-b-2 border-slate-500 pb-2">
    {ruby && <ruby>{ruby}</ruby>}
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">
        {title}
    </h1>
</header>
