---
export interface Props {
    title: string;
}
---

<header class="border-b-2 border-slate-500 pb-2">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">
        {Astro.props.title}
    </h1>
</header>
